<!--Content-->
<div class="content">
  <section class="signup">
      <div class="container">
          <div class="signin-left">
              <div class="sign-title">
                  <h1>Tạo tài khoản</h1>
              </div>
          </div>
          <div class="signin-right ">
              <form action="" (submit)="submit(userForm)" #userForm="ngForm" >
                  <div class="lastname form-control1">
                      <input type="text" required minlength="5" name="name" #name="ngModel"  [(ngModel)]="user.name" id="lastname" placeholder="Tên">
                      <div style="font-weight: bold;" class="form-error mt-2" *ngIf="name?.invalid && (name.dirty || isValid)">
                        <span class="text-danger" *ngIf="name.errors?.['required']">Vui lòng nhập tên</span>
                        <span class="text-danger" *ngIf="name.errors?.['minlength']">
                            Tên phải có tối thiểu 5 ký tự
                        </span>
                    </div>
                  </div>

                  <div class="email form-control1">
                      <input type="email" name="email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #email="ngModel" [(ngModel)]="user.email"  id="email" placeholder="Email">
                      <div class="form-control1" style="font-weight: bold;" *ngIf="email?.invalid && (email.dirty || isValid)">
                        <span class="text-danger" *ngIf="email.errors?.['required']">Vui lòng nhập email</span>
                        <span class="text-danger" *ngIf="email.errors?.['pattern']">
                            Vui lòng nhập email hợp lệ
                        </span>
                    </div>
                  </div>
                  <div class="password form-control1">
                      <input type="password" minlength="6" required name="password" #password="ngModel" [(ngModel)]="user.password"  id="password" placeholder="Password">
                      <div style="font-weight: bold;" class="form-error mt-2" *ngIf="password?.invalid && (password.dirty || isValid)">
                        <span class="text-danger" *ngIf="password.errors?.['required']">Vui lòng mật khẩu</span>
                        <span class="text-danger" *ngIf="password.errors?.['minlength']">
                            Mật khẩu tối thiểu 6 số
                        </span>
                    </div>
                  </div>
                  <div class="recaptcha form-control1">This site is protected by reCAPTCHA and the Google <a href="">Privacy Policy</a> and <a href="">Terms of Service</a> apply.</div>
                  <button type="submit"  class="submit">
                    <p>Đăng kí</p>

                  </button >
                  <div class="backto">
                    <a routerLink="/home"><i class="fa fa-long-arrow-alt-left"></i> Quay lại trang chủ</a>
                  </div>
              </form>
          </div>
      </div>
  </section>

</div>
